<ion-header>
  <ion-toolbar color="warning">
    <ion-title color="light">Present!APP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <ion-button class="botonDocente" color="warning" expand="block" routerLink="/inputs">Docente</ion-button>
  <ion-button class="botonAlumno" color="warning" expand="block" routerLink="/formalumno">Alumno</ion-button>
  <ion-label class="indicacion">No estas registrado? Registrate Aqui:</ion-label>
  <ion-button class="botonRegistrar" color="warning" expand="block" routerLink="/registro">Registrar</ion-button>

  <ion-card>
    <img class="logo" src="assets/logo.png" alt="">
  </ion-card>
  

</ion-content>
