.botonDocente{
    position: fixed;
    left: 105px;
    bottom: 450px;
    text-align: center;
    


}

.botonAlumno{
    
    position: fixed;
    left: 109px;
    bottom: 350px;
    text-align: center;
    
}

.botonRegistrar{
    position: fixed;
    left: 100px;
    bottom: 200px;
    text-align: center;
}

.indicacion{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    bottom: 180px;
    position: fixed;
    left: 20px;

}

.logo{
    position: fixed;
    bottom: 50px;
    width: 100px;
    left: 109px;
    border-radius: 20px;

}

.indicacion{
    bottom: 250px;
}

