.registroasis{
    bottom: 400px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.asisimg{
    position: fixed;
    bottom: 250px;
    right: 30px;
    border-radius: 30px;

}

.volver{
    bottom: 80px;
    position: absolute;
    left: 100px;
    
}