<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="end">
      <ion-back-button 
        defaultHref="/inicio"
        text="Volver"
        color="primary"
        mode="ios">
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="start" name="menu-outline" color="light"></ion-icon>
       </ion-button>
    </ion-buttons>
    <ion-title color="light">Present!APP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

  <ion-card class="ion-text-center">
    <ion-card-content>

      <ion-list >
        <ion-item >
          <ion-select [(ngModel)]="usuario.nom" placeholder="Seleccione la Asignatura">
            <ion-select-option value="ARQUITECTURA">ARQUITECTURA</ion-select-option>
            <ion-select-option value="CALIDAD DE SOFTWARE">CALIDAD DE SOFTWARE</ion-select-option>
            <ion-select-option value="PROGRAMACION DE APLICACIONES MOVILES">PROGRAMACION DE APLICACIONES MOVILES</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <ion-list >
        <ion-item >
          <ion-select [(ngModel)]="usuario.fecha" placeholder="Seleccione el dia">
            <ion-select-option value="LUNES">LUNES</ion-select-option>
            <ion-select-option value="MARTES">MARTES</ion-select-option>
            <ion-select-option value="MIERCOLES">MIERCOLES</ion-select-option>
            <ion-select-option value="JUEVES">JUEVES</ion-select-option>
            <ion-select-option value="VIERNES">VIERNES</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <ion-list >
        <ion-item >
          <ion-select [(ngModel)]="usuario.asig" placeholder="Seleccione la seccion">
            <ion-select-option value="001">001</ion-select-option>
            <ion-select-option value="002">002</ion-select-option>
            <ion-select-option value="003">003</ion-select-option>
            <ion-select-option value="004">004</ion-select-option>
            <ion-select-option value="005">005</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <ion-button 
          expand="block" 
          class="ion-margin" 
          (click)="generaScan()"
          color="warning">
          GENERAR QR  
      </ion-button>

      <qrcode 
        [qrdata]="qrCodeString" 
        [width]="256" 
        [errorCorrectionLevel]="'M'">
      </qrcode>

      
    </ion-card-content>
 </ion-card>

 <ion-button 
        expand="block" 
        class="ion-margin" 
        routerLink="/listar-alumnos">
        Ver Alumnos
  </ion-button>


</ion-content>


