.indicacion{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    bottom: 100px;
    position: fixed;
    left: 20px;

}


.qr{
    width: 500px;
    position: fixed;
    bottom: 150px;
    width: 300px;
    border-radius: 20px;
}

.finalizarasis{
    bottom: 40px;
    position: absolute;
    left: 100px;
    
}


