.indicacion{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    bottom: 500px;
    position: fixed;

}


.qr{
    width: 500px;
    position: fixed;
    bottom: 150px;
    width: 300px;
    border-radius: 20px;
}

.finalizarasis{
    bottom: 40px;
    position: absolute;
    left: 100px;
    
}


