<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="end">
      <ion-back-button 
        defaultHref="/inicio"
        text="Volver"
        color="primary"
        mode="ios">
      </ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="start" name="menu-outline" color="light"></ion-icon>
       </ion-button>
    </ion-buttons>
    <ion-title color="light">Present!APP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-label class="indicacion">Por favor, escanear este codigo para registrar asistencia</ion-label>

  <div>
    <ion-button class="scanqr" (click)="scan()" color="success" expand="block">
      Escanear Codigo QR
    </ion-button>
    {{code}}
  </div>

  <ion-button class="finalizarasis" color="warning" expand="block" routerLink="/docenteasis">Finalizar</ion-button>
</ion-content>


